<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>account</param-name>
        <param-value>anynote</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>00000000</param-value>
    </context-param>
    <context-param>
        <param-name>web</param-name>
        <param-value>jdbc:mysql://140.121.198.86:3307/anynote</param-value>
    </context-param>
    <servlet>
        <description>
</description>
        <servlet-name>ModifyTimeNote</servlet-name>
        <servlet-class>anynote.server.ModifyTimeNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGeoNote</servlet-name>
        <servlet-class>anynote.server.CreateGeoNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimeNote</servlet-name>
        <servlet-class>anynote.server.GetTimeNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGeoNote</servlet-name>
        <servlet-class>anynote.server.GetGeoNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create</servlet-name>
        <servlet-class>anynote.server.CreateTimeNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>anynote.server.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyGeoNote</servlet-name>
        <servlet-class>anynote.server.ModifyGeoNote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newUser</servlet-name>
        <servlet-class>anynote.server.newUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserGeoNoteServlet</servlet-name>
        <servlet-class>anynote.server.GetUserGeoNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserTimeNoteServlet</servlet-name>
        <servlet-class>anynote.server.GetUserTimeNoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>anynote.server.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create</servlet-name>
        <url-pattern>/Create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>anynote.server.DeleteNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGeoNote</servlet-name>
        <url-pattern>/CreateGeoNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeNote</servlet-name>
        <url-pattern>/GetTimeNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGeoNote</servlet-name>
        <url-pattern>/GetGeoNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/uploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyTimeNote</servlet-name>
        <url-pattern>/ModifyTimeNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyGeoNote</servlet-name>
        <url-pattern>/ModifyGeoNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newUser</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserGeoNoteServlet</servlet-name>
        <url-pattern>/GetUserGeoNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserTimeNoteServlet</servlet-name>
        <url-pattern>/GetUserTimeNoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GetUserTimeNoteServlet</welcome-file>
    </welcome-file-list>
</web-app>
